*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

header{
    width: 100%;
    position: fixed;
    top:0;
    height: 80px;
    box-sizing: border-box;
    background-color: aliceblue;
}

nav{
    display: flex;
    transition: align-items .1s;
}

.logo_banner{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-left: 5rem;
}

.logo_banner img{
    width: 100%;
    height: auto;
}

.name_logo{
    float: left;
    margin-top: 1.5rem;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.banner_option{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 20rem;
    margin-top: 1.5rem;
}

main{
    margin-top: 80px;
    height:1200px;
}

.home{
    width: 2rem;
    height: 2rem;
    padding-right: 10rem;
}

.home img{
    width: 100%;
}

.community{
    width: 2rem;
    height: 2rem;
    padding-right: 10rem;
}

.community img{
    width: 100%;
}

.notification{
    width: 2rem;
    height: 2rem;
}

.notification img{
    width: 100%;
}

.profile{
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
    position: relative;
    left: 25rem;
}

.profile img{
    width: 100%;
}

.avatar{
    width: 8rem;
    height: 8rem;
    margin-left: 46%;
}

.avatar img{
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.information{
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    margin-top: 1rem;
}
.mail{
    width: 3rem;
    height: 3rem;
}

.mail img{
    width: 100%;
}

.facebook{
    width: 3rem;
    height: 3rem;
}

.facebook img{
    width: 100%;
}

.twitter{
    width: 3rem;
    height: 3rem;
}

.twitter img{
    width: 100%;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.experience{
    display: flex;

}

.progess-bar {
    position: relative;
    width: 100px;
    height: 3px;

}

.grey-bar {
    position: absolute;
    background-color: gray;
    width: 100%;
}

.yellow-bar {
    position: absolute;
    background-color: yellow;
    width: 60%;
    
}